<div class="workouts-container">
  <h1 class="page-title"><%= @exercise.name %></h1>

  <nav>
    <ul class="content-nav">
      <li><%= link_to '戻る', menus_path, class: 'btn btn-outline-secondary' %></li>
      <li><%= link_to content_tag(:i, '', class: 'fas fa-chart-line fa-2x ml-4 footer-icon'), charts_path({ id: @exercise.id, range: 'all', user_id: current_user.id }) %></li>
      <li><%= link_to '新規作成', new_workout_path(exercise_id: @exercise.id), class: 'nav-link btn btn-primary text-white' %></li>
    </ul>
  </nav>

  <div class="workoutWrapper table-background table-border">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>日付</th>
          <th>セット</th>
          <th>最大重量</th>
          <th>1RM(MAX)</th>
          <th>合計重量</th>
          <th colspan="2">(kg)</th>
        </tr>
      </thead>

      <tbody>
        <% @workouts.each do |workout| %>
          <tr>
            <td><%= link_to format_date(workout.created_at), workout_path(workout) %>
            <td class="text-center"><%= workout.set %></td>
            <td class="text-right pr-4"><%= workout.max_weight.round(1) %></td>
            <td class="text-right pr-5"><%= workout.max_one_rm.round(1) %></td>
            <td class="text-right pr-5"><%= workout.total_weight.round(1) %></td>
            <td><%= link_to '編集', edit_workout_path(workout), class: 'btn btn-success btn-sm text-white' %></td>
          </tr>
        <% end %><!-- /@worktous.each do |menu| -->
      </tbody>
    </table>
  </div><!-- /.workoutWrapper -->

  <div class="mt-3">
    <%= paginate(@workouts) %>
    <%= page_entries_info(@workouts) %>
  </div><!-- /.mt-3 -->
</div><!-- /.workout-container -->
