<div class="workouts-container">
  <h1 class="page-title"><%= @exercise.name %></h1>

  <nav class="navbar navbar-expand-sm my-3">
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to 'メニュー', menus_path, class: 'nav-link btn btn-default' %></li>
      <li class="nav-item"><%= link_to 'グラフ', '#', class: 'nav-link btn btn-default' %></li>
      <li class="nav-item"><%= link_to '新規作成', new_workout_path(exercise_id: @exercise.id), class: 'nav-link btn btn-primary text-white ml-5' %></li>
    </ul>
  </nav>

  <div class="workoutWrapper">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>日付</th>
          <th>セット</th>
          <th>最大重量</th>
          <th>1RM(MAX)</th>
          <th>合計重量</th>
          <th colspan="2">(kg)</th>
        </tr>
      </thead>

      <tbody>
        <% @workouts.each do |workout| %>
          <tr>
            <td><%= link_to format_date(workout.created_at), workout_path(workout) %>
            <td class="text-center"><%= Workout.get_set(workout.exercise_logs) %></td>
            <td class="text-right pr-4"><%= Workout.get_max_weight(workout.exercise_logs) %></td>
            <td class="text-right pr-5"><%= Workout.get_one_rm(workout.exercise_logs) %></td>
            <td class="text-right pr-5"><%= Workout.get_total_weight(workout.exercise_logs) %></td>
            <td><%= link_to '編集', edit_workout_path(workout) %></td>
            <td><%= link_to '削除', workout_path(workout), method: :delete, data: { confirm: '削除してもよろしいですか？ '} %></td>
          </tr>
        <% end %><!-- /@worktous.each do |menu| -->
    </tr>
    </tbody>
    </table>
  </div><!-- /.workoutWrapper -->
</div><!-- /.col-6 mx-auto -->
