<div class="main-container">
  <h1 class="page-title mb-3">記録の詳細</h1>
  <p class="calendar_name mb-4"><%= @user.name %></p>
  <h2 class="page-title"><%= @exercise.name %></h2>

  <%= render 'partial/workout_nav', user_id: @user.id %>

  <div class="exercise_log_content">
    <p class="mb-2"><%= format_date_time(@workout.created_at) %></p>

    <table class="table table-hover table-style table-background table-border">
      <thead>
        <tr>
          <th>set</th>
          <th>weight</th>
          <th>rep</th>
          <th>1RM(MAX)</th>
        </tr>
      </thead>

      <tbody>
        <% @exercise_logs.each do |exercise_log|%>
          <tr>
            <td class="pl-4"><%= exercise_log.set %> set</td>
            <td><%= exercise_log.weight %> kg</td>
            <td><%= exercise_log.rep %></td>
            <td><%= ExerciseLog.get_one_rm(exercise_log) %> kg</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="form-group">
      <p class="mb-1">コンディション</p>
      <p class="workout-condition"><%= @workout.condition_i18n %></p>
    </div><!-- /.form-group -->

    <div class="form-group">
      <p class="mb-1">メモ</p>
      <p class="workout-memo"><%= @workout.memo %></p>
    </div><!-- /.form-group -->

    <div class="workout-footer">
        <%= link_to '削除', workout_path(@workout),
          method: :delete, data: { confirm: '削除してもよろしいですか？'}, class: 'btn btn-danger text-white' %>
        <%= link_to '編集', edit_workout_path(@workout), class: 'btn btn-success text-white' %>
    </div><!-- /.workout-footer -->
  </div><!-- /.exercise_log_content -->
</div><!--/.main-container -->
