<div class="main-container">
  <div class="workout_header mt-3">
    <h1 class="page-title"><%= @exercise.name %></h1>
  </div><!-- /.workout_header -->


  <nav class="content-nav">
    <%= link_to '戻る', workouts_path(id: @exercise.id), class: 'btn btn-outline-secondary' %>
    <%= link_to 'メニュー', menus_path, class: 'btn btn-outline-secondary' %>
  </nav>

  <div class="exercise_log_content">
    <p class="mb-2"><%= format_date_time(@workout.created_at) %></p>

    <table class="table table-hover table-style workout-table">
      <thead>
        <tr>
          <th>set</th>
          <th>weight</th>
          <th>rep</th>
          <th>1RM(MAX)</th>
        </tr>
      </thead>

      <tbody>
        <% @exercise_logs.each do |exercise_log|%>
          <tr>
            <td class="pl-4"><%= exercise_log.set %></td>
            <td><%= exercise_log.weight %> kg</td>
            <td><%= exercise_log.rep %></td>
            <td><%= Workout.get_one_rm(exercise_log) %> kg</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="">
      <p class="mb-1">コンディション</p>
      <p class="workout-condition"><%= @workout.condition_i18n %></p>
    </div><!-- /.form-group -->

    <div class="my-4">
      <p class="mb-1">メモ</p>
      <p class="workout-memo"><%= @workout.memo %></p>
    </div>

    <div class="workout-footer">
        <%= link_to '編集', edit_workout_path(@workout), class: 'btn btn-success text-white' %>

        <%= link_to '削除', workout_path(@workout),
          method: :delete, data: { confirm: '削除してもよろしいですか？'}, class: 'btn btn-danger text-white' %>
    </div><!-- /.workout-footer -->
  </div><!-- /.exercise_log_content -->
</div><!--/.main-container -->
