<div class="container">
  <div class="follow-header-area">
    <h1 class="mb-2"><%= link_to @user.name, profile_path(@user) %></h1>
  </div>

  <div class="follow-content">
    <% if @flag == 'following' %>
      <div class="follow-nav">
        <h2 class="follow-title selected">フォロー中</h2>
        <h2 class="follow-title"><%= link_to 'フォロワー', relationships_path(user_id: @user.id, flag: 'followers') %></h2>
      </div>
      <ul>
        <% @following.each do |follow| %>
          <div class="profile-content">
            <div class="profile-header">
              <!-- ユーザー情報 -->
              <%= render 'partial/user_name_and_icon', user: follow %>
              <%= render 'partial/follow_form', user: follow %>
            </div><!-- /.profile-header -->
            <%= render 'partial/self_introduction', user: follow %>
          </div><!-- /.profile-content -->
        <% end %>
      </ul>
    <% elsif @flag == 'followers'%>
      <div class="follow-nav">
        <h2 class="follow-title"><%= link_to 'フォロー中', relationships_path(user_id: @user.id, flag: 'following') %></h2>
        <h2 class="follow-title selected">フォロワー</h2>
      </div>
      <ul>
        <% @followers.each do |follower| %>
          <div class="profile-content">
            <div class="profile-header">
              <!-- ユーザー情報 -->
              <%= render 'partial/user_name_and_icon', user: follower %>
              <%= render 'partial/follow_form', user: follower %>
            </div><!-- /.profile-header -->
            <%= render 'partial/self_introduction', user: follower %>
          </div><!-- /.profile-content -->
        <% end %>
      </ul>
    <% end %>

    <%= link_to '戻る', :back, class: 'nav-link btn btn-default' %>
  </div><!-- /.followcontent -->
</div><!-- /.container -->
