<div class="container">
  <div class="follow-header-area">
    <h1 class="mb-2"><%= link_to @user.name, profile_path(@user) %></h1>
  </div>

  <div class="nav-menu">
    <%= link_to '戻る', :back, class: 'btn btn-outline-secondary' %>
  </div><!-- /.nav-menu -->

  <div class="tab-wrap">
    <% if @flag == 'following' %>
      <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked"><label class="tab-label" for="TAB-01">フォロー中</label>
    <% else %>
      <input id="TAB-01" type="radio" name="TAB" class="tab-switch"><label class="tab-label" for="TAB-01">フォロー中</label>
    <% end %>

    <div class="tab-content">
      <p class="mb-2"><%= @following.count %> フォロー中</p>
      <ul>
        <% @following.each do |follow| %>
          <div class="profile-content">
            <div class="profile-header">
              <!-- ユーザー情報 -->
              <%= render 'partial/user_name_and_icon', user: follow %>
              <%= render 'partial/follow_form', user: follow %>
            </div><!-- /.profile-header -->
            <%= render 'partial/self_introduction', user: follow %>
          </div><!-- /.profile-content -->
        <% end %>
      </ul>
    </div><!-- /.tab-content -->

    <% if @flag == 'followers' %>
      <input id="TAB-02" type="radio" name="TAB" class="tab-switch" checked="checked"><label class="tab-label" for="TAB-02">フォロワー</label>
    <% else %>
      <input id="TAB-02" type="radio" name="TAB" class="tab-switch"><label class="tab-label" for="TAB-02">フォロワー</label>
    <% end %>

    <div class="tab-content">
      <p  class="mb-2"><%= @followers.count %> フォロワー</p>
      <ul>
        <% @followers.each do |follower| %>
          <div class="profile-content">
            <div class="profile-header">
              <!-- ユーザー情報 -->
              <%= render 'partial/user_name_and_icon', user: follower %>
              <%= render 'partial/follow_form', user: follower %>
            </div><!-- /.profile-header -->
            <%= render 'partial/self_introduction', user: follower %>
          </div><!-- /.profile-content -->
        <% end %>
      </ul>
    </div><!-- /.tab-content -->
  </div><!-- /.tab-wap -->
</div><!-- /.container -->
