<div class="container">
  <h1>ユーザー情報</h1>

  <div class="content">
    <div class="header-image">
      <!-- header-imageを設定する -->
    </div><!-- /.header-image -->

    <div class="user-profile">
      <p><%= @user.name %></p>
      <p><%= @user.email %></p>
    </div><!-- /.profile -->

    <div class="user-message">
    </div><!-- /.user-message -->

    <div class="posts">
    </div><!-- /.posts -->
  </div><!-- /.content -->
  <%= render 'partial/follow_form', user: @user unless @user.id == current_user.id %>
  <div>
    <%= link_to content_tag(:p, "#{@following_count} フォロー中"), relationships_path(user_id: @user.id, flag: 'following') %>
    <%= link_to content_tag(:p, "#{@followers_count} フォロワー"), relationships_path(user_id: @user.id, flag: 'followers') %>
  </div>
  <%= link_to 'サインアウト', destroy_user_session_path, class: 'btn btn-danger text-white', method: :delete %>
</div><!-- /.container -->
