<div>
  <%= form_with model: body_status, html: { multipart: true }, local: true do |f| %>
    <% if body_status.errors.any? %>
      <div id="error_explanation" class="mb-4">
        <h2><%= pluralize(body_status.errors.count, "") %> 件のエラーがあります</h2>
        <ul>
          <% body_status.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div><!-- /.error_explanation -->
    <% end %>

    <div class="form-group">
      <%= f.label :created_at, '測定日' %><br>
      <%= f.datetime_select :created_at, {}, value: Time.now.strftime("%Y-%m-%d") %>
    </div><!-- /.form-group -->

    <div class="form-group mt-4">
      <%= f.label :body_weight %>
      <%= f.number_field :body_weight, min: 1, max:150, class: 'form-control' %>
    </div><!-- /.form-group -->

    <div class="form-group">
      <%= f.label :body_fat %>
      <%= f.number_field :body_fat, min: 1, max:50, class: 'form-control' %>
    </div><!-- /.form-group -->

    <%# 写真1 %>
    <div class="form-group mb-2 picture-upload-area">
      <p class="mb-2"><%= image_tag set_image(body_status.picture1, 'default_common_image.png'), id: :body_picture1_prev, class: 'pic_prev', alt: '写真1' %></p>
      <div class="picture-upload-area-right">
        <i class="far fa-image fa-lg"></i>
        <%= f.label :picture1 %>
        <%= f.file_field :picture1, id: :body_picture1, accept: '.jpg, .png, .gif' %>
        <%= f.hidden_field :picture1_cache %>
        <p class="mt-2"><label><%= f.check_box :remove_picture1 %>画像を削除する</label></p>
      </div>
    </div><!-- /.form-group -->

    <%# 写真2 %>
    <div class="form-group mb-2 picture-upload-area">
      <p class="mb-2"><%= image_tag set_image(body_status.picture2, 'default_common_image.png'), id: :body_picture2_prev, class: 'pic_prev', alt: '写真2' %></p>
      <div class="picture-upload-area-right">
        <i class="far fa-image fa-lg"></i>
        <%= f.label :picture2 %>
        <%= f.file_field :picture2, id: :body_picture2, accept: '.jpg, .png, .gif' %>
        <%= f.hidden_field :picture2_cache %>
        <p class="mt-2"><label><%= f.check_box :remove_picture2 %>画像を削除する</label></p>
      </div>
    </div><!-- /.form-group -->

    <%# 写真3 %>
    <div class="form-group picture-upload-area mb-2">
      <p class="mb-2"><%= image_tag set_image(body_status.picture3, 'default_common_image.png'), id: :body_picture3_prev, class: 'pic_prev', alt: '写真3' %></p>
      <div class="picture-upload-area-right">
        <i class="far fa-image fa-lg"></i>
        <%= f.label :picture3 %><br>
        <%= f.file_field :picture3, id: :body_picture3, accept: '.jpg, .png, .gif' %>
        <%= f.hidden_field :picture3_cache %>
        <p class="mt-2"><label><%= f.check_box :remove_picture3 %>画像を削除する</label></p>
      </div>
    </div><!-- /.form-group -->

    <div class="form-group content-nav">
      <%= link_to '戻る', :back, class: 'btn btn-outline-secondary' %>
      <%= f.submit class: 'btn btn-primary' %>
    </div><!-- /.form-group -->
  <% end %>
</div>
