<nav class="chart-nav-container mt-5">
  <ul class="chart-nav">
    <li><%= link_to '1週間' , charts_path(range: 'week'), class: 'btn btn-primary btn-sm text-white' %></li>
    <li><%= link_to '1ヶ月' , charts_path(range: 1), class: 'btn btn-primary btn-sm text-white' %></li>
    <li><%= link_to '3ヶ月' , charts_path(range: 3), class: 'btn btn-primary btn-sm text-white' %></li>
    <li><%= link_to '6ヶ月' , charts_path(range: 6), class: 'btn btn-primary btn-sm text-white' %></li>
    <li><%= link_to '1年' , charts_path(range: 12), class: 'btn btn-primary btn-sm text-white' %></li>
    <li><%= link_to '全期間' , charts_path(range: 'all'), class: 'btn btn-primary btn-sm text-white' %></li>
  </ul>
</nav>
