<nav class="chart-nav-container mt-5">
  <ul class="chart-nav">
    <li><%= link_to '1週間' , charts_path(id: @exercise_id, range: 'week', user_id: user_id), class: 'btn btn-primary btn-sm text-white' %></li>
    <li><%= link_to '1ヶ月' , charts_path(id: @exercise_id, range: 1, user_id: user_id), class: 'btn btn-primary btn-sm text-white' %></li>
    <li><%= link_to '3ヶ月' , charts_path(id: @exercise_id, range: 3, user_id: user_id), class: 'btn btn-primary btn-sm text-white' %></li>
    <li><%= link_to '6ヶ月' , charts_path(id: @exercise_id, range: 6, user_id: user_id), class: 'btn btn-primary btn-sm text-white' %></li>
    <li><%= link_to '1年' , charts_path(id: @exercise_id, range: 12, user_id: user_id), class: 'btn btn-primary btn-sm text-white' %></li>
    <li><%= link_to '全期間' , charts_path(id: @exercise_id, range: 'all', user_id: user_id), class: 'btn btn-primary btn-sm text-white' %></li>
  </ul>
</nav>
