<div class="mt-4">
  <%= form_with model: exercise, local: true do |f| %>
    <% if exercise.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(exercise.errors.count, "") %> 件のエラーがあります</h2>

        <ul>
          <% exercise.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%# アイコン %>
    <div class="form-group picture-upload-area mb-2">
      <p class="mb-2"><%= image_tag set_image(exercise.icon, :default_exercise_icon), id: :exercise_icon_prev, class: 'rect-100', alt: '写真1' %></p>
      <div class="picture-upload-area-right">
        <i class="far fa-image fa-lg"></i>
        <%= f.label :icon %>
        <%= f.file_field :con, id: :exercise_icon, accept: '.jpg, .png, .gif' %>
        <%= f.hidden_field :icon_cache %>
        <p class="mt-2"><label><%= f.check_box :remove_icon %>画像を削除する</label></p>
      </div><!-- /.picture-upload-area-right -->
    </div><!-- /.form-group -->

    <%# 種目名 %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', id: 'exercise_name' %>
    </div><!-- /.form-group -->

    <%# 部位 %>
    <div class="form-group">
      <%= f.label :part %><br>
      <%= f.select :part, Exercise.parts_i18n.invert, { include_blank: '選択してください' }, class: 'form-control', id: 'exercise_part' %>
    </div><!-- /.form-group -->

    <%# カテゴリー %>
    <div class="form-group">
      <%= f.label :category %><br>
      <%= f.select :category, Exercise.categories_i18n.invert, { include_blank: '選択してください' }, class: 'form-control', id: 'esercise_' %>
    </div><!-- /.form-group -->

    <%# 説明 %>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, size: "0x5", class: 'form-control', id: 'exercise_description' %>
    </div><!-- /.form-group -->

    <div class="form-group two-submit">
      <%= link_to '戻る', exercises_path, class: 'btn btn-outline-secondary' %>
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div><!-- /.form-group -->
  <% end %>
</div>
