<%= form_with model: @post, local: true do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, '') %> 件のエラーがあります</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div><!-- /#error_explanation -->
  <% end %>

  <div class="main-content">
    <div class="form-group">
      <div class="time-area">
        <%= Time.new.strftime('%Y-%m-%d %H:%M') %>
      </div><!-- /.time-area -->

      <div class="content-header">
        <p><%= image_tag set_image(@post.user.profile.icon, :default_user_icon), alt: current_user.name, class: 'cover50' %></p>
        <div class="post-names">
          <p class="post-user"><%= current_user.name %></p>
        </div><!-- /.post-names -->
      </div><!-- /.content-header -->
      <%= f.text_area :content, class: 'form-control content-body', size: '0x7', placeholder: '今日の出来事' %>
    </div><!-- /.form-group -->
  </div><!-- /.new-content -->

  <%# 画像投稿 %>
  <div class="form-group mb-4">
    <i class="far fa-image fa-lg"></i>
    <%= f.label :picture %><br>
    <p class="mb-2"><%= image_tag set_image(post.picture, :default_common_image), alt: '投稿画像のダミー', class: 'post-picture-form', id: :post_picture_prev %></p>
    <%= f.file_field :picture, accept: '.jpg, .png, .gif', id: :post_picture %>
    <%= f.hidden_field :picture_cache %>
    <p class="mt-2"><label><%= f.check_box :remove_picture, id: :remove_picture %>画像を削除する</label></p>
  </div><!-- /.form-group -->

  <div class="nav-menu">
    <%= link_to '戻る', :back, class: 'btn btn-outline-secondary' %>
    <%= f.submit '投稿する', class: 'btn btn-primary' %>
  </div>
<% end %>
