<div class="form-content mt-3">
  <%= nested_form_for @workout do |f| %>
    <!-- errors -->
    <% if workout.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(workout.errors.count, '') %> 件のエラーがあります</h2>
        <ul>
          <% workout.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!-- end_errors -->

    <div class="form-area">
      <div class="form-group mb-4"> <%= f.label :created_at, 'トレーニング日' %><br>
        <%= f.datetime_select :created_at, {}, value: Time.now.strftime("%Y-%m-%d") %>
      </div>

      <div class="exercise-logs-container">
        <div class="exercise-logs-header">
          <p class="exercise-logs-set">set</p> <p class="exercise-logs-weight">weight (kg)</p> <p class="exercise-logs-rep">rep (回数)</p>
        </div>

        <ul class="exercise-logs-area">
          <%= f.fields_for :exercise_logs, @workout.exercise_logs.sort_by(&:set) do |ef| %>
            <li class="exercise-set"></span></li>
            <li><%= ef.hidden_field :set, class: 'exercise-set-hidden' %></li>
            <li><%= ef.number_field :weight, min: 0, max:300, class: 'py-2 exercise-input' %></li>
            <li><%= ef.number_field :rep, min: 0, max: 300, class: 'py-2 exercise-input' %></li>
            <li><%= ef.link_to_remove '削除' %></li>
          <% end %>

          <%= f.link_to_add '追加', :exercise_logs, data: { limit: 10 }, class: 'btn btn-success btn-sm text-white add-btn' %>
        </ul>
      </div><!-- /.exercise-logs-container -->


      <div class="form-group mt-5">
        <%= f.label 'condition' %>
        <%= f.select :condition, Workout.conditions_i18n.invert, {}, class: 'form-control', id: 'workout_condition' %>
      </div><!-- /.form-group -->

      <div class="form-group">
        <%= f.label :memo %>
        <%= f.text_area :memo, size: "0x5", class: 'form-control', id: 'workout_memo' %>
      </div><!-- /.form-group -->

      <div class="form-group text-right">
        <%= f.hidden_field :exercise_id, value: @exercise.id %>
        <%= f.submit class: 'btn btn-primary' %>
      </div><!-- /.form-group -->
    </div><!-- /.form-area -->
  <% end %>
</div>
