<div class="container mt-4">
  <% if @exercise_id == '0' %>
    <h2 class="page-title">体重・体脂肪</h2>
  <% else %>
    <h1 class="page-title mb-4"><%= @exercise_name %></h1>
  <% end %>

  <p class="calendar_name mb-4"><%= @user.name %></p>
  <h2 class="page-title"><%= select_range_title(@range_title) %></h2>

  <% if @exercise_id == '0' %>
    <%= render 'partial/chart_body_status', { range_title: @range_title, body_weight_records: @body_weight_records, body_fat_records: @body_fat_records } %>
  <% else %>
    <%= render 'partial/chart_workout', { range_title: @range_title, exercise_name: @exercise_name, max_weight_records: @max_weight_records, max_one_rm_records: @max_one_rm_records, total_weight_records: @total_weight_records } %>
  <% end %>

  <!-- 表示期間のリンク -->
  <%= render 'partial/chart_nav', user_id: @user.id %>

  <!-- 種目のグラフへのリンク -->
  <%= render 'partial/chart_workout_links', workouts: @workouts, user_id: @user.id %>
</div><!-- /.container -->
