<table class="table table-hover">
  <% exercises&.each do |exercise| %>
    <tbody>
      <tr>
        <td><p><%= image_tag set_exercise_icon(exercise), alt: exercise.name, class: 'rect-50 mr-2' %></p></td>
        <td class="align-middle"><%= link_to exercise.name, exercise_path(exercise) %></td>
        <td class="align-middle"><%= exercise.part_i18n %></td>
        <td class="align-middle"><%= exercise.category_i18n %></td>
        <td class="align-middle"><%= link_to '編集', edit_exercise_path(exercise), class: 'btn btn-success btn-sm text-white' %></td>
      </tr>
    </tbody>
  <% end %>
</table>
