<div class='signinPage'>
  <div class='login-container'>
    <h2 class="title mb-5">My fitnessにログイン</h2>

    <div class="login-content">
      <div class="picture-area">
        <%= image_tag('workout_1.jpg', alt: 'トレーニングの写真1', class: 'top-image') %>
        <%= image_tag('workout_2.jpg', alt: 'トレーニングの写真2', class: 'top-image') %>
        <%= image_tag('workout_3.jpg', alt: 'トレーニングの写真3', class: 'top-image') %>
      </div><!-- /.picture-area -->

      <div class="input-form">
        <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-5, new_user" }, local: true do |f| %>
          <div class="form-group mb-4">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "emailを入力してください" %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "パスワードを入力してください"  %>
          </div>

          <div class="form-group text-center">
            <%= f.submit "ログイン", class: "loginBtn" %>
          </div>

          <p class="mt-5 mb-3 text-center">アカウントをお持ちでないですか？</p>
          <div class="text-center"><%= render "devise/shared/links" %></div>
        <% end %>
      </div><!-- /.input-form -->
    </div><!-- /.login-container -->
  </>
</div>
