<div class="post-container mt-3">
  <h1 class="page-title mb-3">投稿詳細</h1>
  <div class="nav-menu">
    <%= link_to '戻る', :back, class: 'btn btn-outline-secondary' %>
    <%= link_to '新規作成', new_post_path, class: 'btn btn-primary text-white' %>
  </div><!-- /.nav-menu -->

  <%= render 'partial/post_content', post: @post %>

  <div class="post-icons">
    <div class="post-item">
      <%= link_to "#{@post.like_users.count}件のいいね", likes_path(id: @post.id) if @post.like_users.count > 0 %>
    </div><!-- /.post-item -->
    <div class="post-item">
      <%= link_to "#{@post.comment_users.count}件のコメント", post_comments_path(@post) if @post.comment_users.count > 0 %>
    </div><!-- /.post-item -->
  </div><!-- /.post-icons -->

  <div class="comments-container mt-5">
    <% @comments.each do |comment| %>
      <div class="post-comment">
        <div class="content-header">
          <p><%= image_tag 'default.png', alt: comment.user.name, class: 'cover50' %></p>
          <div class="post-names">
            <p class="post-user"><%= comment.user.name %></p>
            <p class="post-time"><%= comment.created_at.strftime('%Y-%m-%d %H:%M') %></p>
          </div>
        </div><!-- /.content-header -->
        <div class="comment-content">
          <p><%= comment.content %></p>
        </div><!-- /.comment-content -->
        </div><!-- /.post-comment -->
      </div><!-- /.post-comments -->
    <% end %>
  </div><!-- /.comments-container -->
</div><!-- /.post-container -->
