<div class="col-7 mx-auto mt-4">
  <h1 class="mb-2">トレーニング種目編集</h1>
  <div>
    <%= link_to '< 戻る', :back, class: 'btn btn-link' %>
    <%= link_to '一覧', exercises_path, class: 'btn btn-link' %>
    <%= link_to '詳細 >', exercise_path(@exercise), class: 'btn btn-link' %>
  </div>

  <%= render 'partial/exercise_form', exercise: @exercise %>
  <%= link_to '削除', exercise_path(@exercise), class: 'btn btn-danger text-white mt-3', method: :delete, data: { confirm: '削除してよろしいですか？' } %>
</div><!-- /.container -->
