<%= form_with model: menu, local: true do |f| %>
    <% if menu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(menu.errors.count, "") %> 件のエラーがあります</h2>

        <ul>
          <% menu.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', id: 'menu_name', autofocus: true %>
    </div><!-- /.form-group -->

    <div class="form-group">
      <%= f.label :interval %>
      <%= f.select :interval, [1, 2, 3, 4, 5], { include_brank: '選択してください' }, class: 'form-control', id: 'menu_interval' %>
    </div><!-- /.form-group -->

    <div class="tab-wrap">
      <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">プリセット</label>
      <div class="tab-content">
        <%= render 'partial/menu/menu_form_content', { f: f, exercises: exercises_preset } %>
      </div>

      <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">オリジナル</label>
      <div class="tab-content">
        <%= render 'partial/menu/menu_form_content', { f: f, exercises: exercises_original } %>
      </div>
    </div><!-- /.tab-wap -->

    <div class="menu-new-footer">
      <%= link_to '戻る', menus_path, class: 'btn btn-outline-secondary' %>
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  <% end %>
