<div class="container mt-3">
  <h1 class="page-title">体重記録一覧</h1>

  <nav>
    <ul class="content-nav">
      <li><%= link_to '戻る', :back, class: 'btn btn-outline-secondary' %></li>
      <li><%= link_to content_tag(:i, '', class: 'fas fa-chart-line fa-2x ml-3'), chart_path %></li>
      <li><%= link_to '新規作成', new_body_status_path(@body_status), class: 'btn btn-primary text-white' %></li>
    </ul>
  </nav>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>測定日</th>
        <th>体重(kg)</th>
        <th>体脂肪(%)</th>
        <th>BMI</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @body_statuses.each do |body_status| %>
        <tr>
          <td><%= link_to body_status.created_at.strftime("%Y-%m-%d %H:%M"), body_status_path(body_status) %></td>
          <td><%= body_status.body_weight %></td>
          <td><%= body_status.body_fat %></td>
          <% unless @height.blank? %>
            <td><%= BodyStatus.get_bmi(@height, body_status.body_weight) %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <td><%= link_to '編集', edit_body_status_path(body_status), class: 'btn-sm btn-success text-white' %></td>
          <td><%= link_to '削除', body_status_path(body_status), method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: 'btn-sm btn-danger text-white' %></td>
        </tr>
      <% end %>
    </tbody>
  </table><!-- /.table table-hover -->

  <h2 class="page-title">BMIとは</h2>
    <cite><a href="https://www.e-healthnet.mhlw.go.jp/information/dictionary/metabolic/ym-002.html">引用元: e-ヘルスネット</a></cite>
    <blockquote class="mt-3">
      <p>肥満度を表す指標として国際的に用いられている体格指数で、[体重(kg)]÷[身長(m)の2乗]で求められます(身長はcmではなくmで計算します)。</p><br>
      <p>計算方法は世界共通ですが、肥満の判定基準は国によって異なり、WHO(世界保健機構)の基準では30以上を”Obese”(肥満)としています。</p><br>
      <p>日本肥満学会の定めた基準では18.5未満が「低体重(やせ)」、18.5以上25未満が「普通体重」、25以上が「肥満」で、肥満はその度合いによってさらに「肥満1」から「肥満4」に分類されます。</p><br>
      <p>BMIが22になるときの体重が標準体重で、最も病気になりにくい状態であるとされています。25を超えると脂質異常症や糖尿病、高血圧などの生活習慣病のリスクが2倍以上になり、30を超えると高度な肥満としてより積極的な減量治療を要するものとされています。</p><br>
    </blockquote>
</div><!-- /.container -->
