<div class="container">
  <h1 class="my-3">体重・体脂肪</h1>

  <nav class="navbar navbar-expand-sm my-3">
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to '一覧', body_statuses_path(@body_status), class: 'nav-link btn btn-default' %></li>
      <li class="nav-item"><%= link_to 'トレーニングメニュー', menus_path, class: 'nav-link btn btn-default' %></li>
    </ul>
  </nav>

  <table class="table table-hover">
    <tr>
      <th>測定日</th>
      <td><%= @body_status.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
    <tr>
      <th>体重</th>
      <td><%= @body_status.body_weight %></td>
    </tr>
    <tr>
      <th>体脂肪</th>
      <td><%= @body_status.body_fat %></td>
    </tr>
  </table><!-- /.table table-hover -->

  <div class="image-area">
    <p class="mb-2"><%= image_tag @body_status.picture1.url(:thumb), alt: '写真1' if @body_status.picture1 && @body_status.picture1.url %></p>
    <p class="mb-2"><%= image_tag @body_status.picture2.url(:thumb), alt: '写真2' if @body_status.picture2 && @body_status.picture2.url %></p>
    <p class="mb-2"><%= image_tag @body_status.picture3.url(:thumb), alt: '写真3' if @body_status.picture3 && @body_status.picture3.url %></p>
  </div><!-- /.image-area -->

  <%= link_to '編集', edit_body_status_path(@body_status), class: 'btn btn-success text-white' %>
  <%= link_to '削除', body_status_path(@body_status), method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: 'btn btn-danger text-white' %>
</div><!-- /.container -->
